<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="XServices.TokenId" value="contactsamieid" />
    <add key="XServices.Claims" value="Administrator" />
    <add key="XServices.TokenKey" value="a2ZnZ2ZzZGxnc2RqZmdzdWRsZ3NkZ2ZpdXNkZ3Nka2d5c2RnaEtHRkpMR0xL" />
    <add key="XServices.TokenServer" value="http://localhost:57777/" />
  </appSettings>
</configuration>